#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;

  ion-button {
    --background: transparent;
    --background-activated: transparent;
    --color: #e59142;
    --background-activated: #e59142;
    font-size: 1rem;
    font-weight: bold;
  }
}
